USE [master]
GO
/****** Object:  Database [EXCELDB]    Script Date: 7.11.2019 14:17:52 ******/
CREATE DATABASE [EXCELDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EXCELDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.KUBILAY\MSSQL\DATA\EXCELDB.mdf' , SIZE = 29696KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EXCELDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.KUBILAY\MSSQL\DATA\EXCELDB_log.ldf' , SIZE = 57664KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EXCELDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EXCELDB]
GO
/****** Object:  Table [dbo].[EXCELDB]    Script Date: 7.11.2019 14:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCELDB](
	[il] [nvarchar](max) NULL,
	[ilce] [nvarchar](max) NULL,
	[Mahalle] [nvarchar](max) NULL,
	[PK] [nvarchar](max) NULL,
	[semt] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
